/*  
    CSS Syntax
        Selector{
            propertyA: valueA;
            propertyB: valueB;
        }    
*/

/*
    * - is a universal selector; it selects all elements in the webpage
    font-family - it tells the browser its main font for the content. may not work on some browser. It will search for fonts that belong to the same family of the font.
    font-size - sets the size of the font of the element.
*/
*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

html{
    background-color: skyblue;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: white;
}
 /*
    selector:hover - changes the style of the element once the mouse is hovered over it.
 */
a:hover{
    background-color: #b4d6de;
}

/*  
    > - child selector; allows selection of the child of the first selector/element
*/

nav > div{
    /* 
        display: inline-block - it al
    */
    display: inline-block;
    float: right;
}

/* TAG SELECTORS */

h1{
   
        /* !important - prioritize the code with
        rem - root element measurement.
        default measurement for the rem is 16px. */
   
    color: black !important;
    font-size: 2rem;
    text-align: center;
}

section{
    height: 100vh;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

ol{
    list-style-type: none;
}

/* 
    ID SELECTORS
    #idName{
        property:value
    }
*/
#zuitt-motto{
    /* letter-spacing - changes the spacing of the elements */
    letter-spacing: 5px;
    font-size: 30px;
}

/* 
    class selector - select the elements with the same class
    .className{
        property: value;
    }
*/
.offered-items{
    text-transform: uppercase;
}

/* 
    attribute selector - select an element with the same attribute
    tag[attribute]{
        propert: value;
    }
*/
input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    
}

/* 
    adjacent sibling selector 
*/

h3 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

/* 
    descendant selectors
        firstselector + descendant{
            property: value;
        }
*/

section li{
    color: #075966;
}

/* 
    general sibling selector - it selects the element that comes after the first selector.
    firstSelector ~ secondSelector{

    }
*/

h2~a{
    text-decoration: none;
}

form{
    color: rgb(0, 0, 128);
    text-align: center;
    background-color: white;
    border: 2px solid black;
    /* vw - the measurement of the screen width of the device. its default display is always on the left of the screen */
    width: 25vw;
    position: relative;
    left: 37.25%;
}

button{
    color: white;
    background-color: #cf0053;
    border: 0;
    border-radius: 15px;
}