/* changing the font-family and font-size using universal selector */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* external styling to a paragraph */
#p3{
    color: yellow; font-size: 18px;
}

/* type selector */
h1{
    font-size: 55px;
}

/* id selector */
#head-2{
    text-transform: uppercase;
}

/* class selector */
.list-1{
    background-color: lightgreen;
}

/* Attribute selector */
li[class="list-2"]{
    border: solid;
}

/* Adjacent selector */
img + ol{
    list-style-type: none;
}

/* decendant selector */
#section-1 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

/* generic sibling selector */
h4~p{
    text-align: center;
}

/* child selector */
ol > .list-3{
    letter-spacing: 1.5rem;
}


